html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bar-container {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    color: black;

}

.bar-container nav {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #525252;
    -webkit-app-region: drag;
    position: fixed;
    top: 0px;
}

#titleShown {
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;
    height: inherit;
    position: absolute;
    z-index: 0;
    color: white;
    font-family: "Open Sans";
    padding-top: .4em;
    line-height: normal;
    font-size: .85em;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}


.bar-container nav #buttons {
    float: right;
    width: 150px;
    height: 100%;
    line-height: 30px;
    background-color: #525252;
    position: relative;
    z-index: 1;
    -webkit-app-region: no-drag;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

#buttons #minimize, #buttons #maximize, #buttons #close {
    float: left;
    height: 100%;
    width: 33%;
    text-align: center;
    color: white;
    transition: all ease-in-out .05s;
    cursor: default;
}

#buttons #minimize:hover, #buttons #maximize:hover {
    background-color: #444444;
}

#buttons #close:hover {
    background-color: #d83c3c;
}

main {
    position: absolute;
    top: 30px;
    height: calc(100%-30px);
    width: 100%;
    background-color: #333333;
    color: white;
}

ul {
    width: auto;
}

.list-group {
    color: black;
    font-family: "Roboto Mono";
    width: inherit;
    font-size: .85em;
}

.container {
    position: relative;
    z-index: 0;
}

.page-header {
    color: #000000;
}


.dropbtn {
    margin-left: .75em;
    margin-top: .4em;
    height: 17px;
    margin-bottom: .45em;
    width: auto;
    cursor: pointer;
    -webkit-app-region: no-drag;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
    
}

.dropdown {
    position: absolute;
    display: inline-block;

    -webkit-app-region: no-drag;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 4px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    height: auto;
    padding-top: -1em;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #eaeaea;
}

.dropdown:hover .dropdown-content {
    display: block;
    font-size: .85em;
}

.dropbtn:hover .dropdown-content {
    display: block;
    font-size: .85em;
}

#refresh-icon {
    font-size: 1.3em;
    text-decoration: none;
}
